html {
  height: 100%;
  background-color: #fad98f;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#canvas {
  border: 3px solid #963b1c;
  image-rendering: pixelated;
  width: 800px;
  height: 480px;
}
